<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- WearOS 디바이스에 설치 가능한 앱임을 명시 -->
    <uses-feature android:name="android.hardware.type.watch" />
    <!-- 심박 센서 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 기본 포그라운드 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 헬스 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 위치 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- 움직임 감지 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Runnity">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Runnity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WatchWorkoutActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Runnity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.WatchCountdownActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Runnity" />
        <service
            android:name=".health.ExerciseFgService"
            android:exported="false"
            android:foregroundServiceType="health|location" />

        <!-- 폰 -> 워치 제어 메시지 수신 서비스 (/session/control) -->
        <service
            android:name=".data.datalayer.wear.ControlMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
